:root { 
--orange_50:#fefae0; 
--deep_orange_A100:#d4a373; 
--gray_500:#959d78; 
--black_900:#000000; 
--bluegray_200:#a5ced1; 
--bluegray_100:#cdcaca; 
--red_300:#af6565; 
--light_green_200:#ccd5ae; 
}